<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="luxinten_test" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Luxinten Test</label>
            <tab>general</tab>
            <resource>Luxinten_TechnicalTaskUnit::footer_message</resource>
            <group id="general" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General:</label>
                <field id="module_enable" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="footer" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <depends>
                    <field id="luxinten_test/general/module_enable">1</field>
                </depends>
                <label>Footer:</label>
                <field id="message" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message:</label>
                    <validate>required-entry validate-no-html-tags</validate>
                </field>
            </group>
        </section>
    </system>
</config>
